@import '../../../styles/theme.scss';

.button {
  border: none;
  padding: 16px 34px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  font-family: $font-family;

  &-default {
    color: $primary-color;
    font-size: $font-size-medium;
    background-color: rgba($default-color, 0.2);
  }

  &-primary {
    color: $default-color;
    font-size: $font-size-medium;
    background-color: $primary-color;
  }

  &-default-outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &-primary-outline {
    background-color: transparent;
    border: 1px solid $default-color;
    color: $default-color;
  }

  &-rounded {
    padding: 13px 28px;
    border-radius: 20px;
  }
}
